use std::{error::Error, net::SocketAddr};

#[tokio::main]
async fn main() -> Result<(), Box<dyn Error>> {
    let address = std::env::var("BIND_ADDRESS")
        .unwrap_or_else(|_| "127.0.0.1:3000".to_owned())
        .parse::<SocketAddr>()?;
    let listener = tokio::net::TcpListener::bind(address).await?;
    println!("{{TITLE}} listening on http://{}", listener.local_addr()?);
    axum::serve(listener, {{CRATE}}_service::application()?).await?;
    Ok(())
}
